
body{
    width: auto;
    padding: 5px;
}
main{
    background-color:#F9F9F9;
    margin-top: 12rem;
}
#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.title{
    text-align: center;
    color: rgb(5, 5, 5);
    font-family: "Salsa", cursive;
    font-size: 1.5em;
    
}
#images > img {
    padding-left: 25px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 3rem;
}
p{
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    body{
        margin: auto ;
        max-width: 768px;
    }
    #images{
        grid-template-columns: 1fr;
        margin: 0px 15px 15px 15px;
    }
     .about > p{
        padding: 10px;
        text-align: justify;
     }
 
  }