body{
    width: auto;
    /* margin: 50px 150px 0px 150px ; */
}
main{
    background-color: #F9F9F9;
}
p{
    text-align: justify;
}
.history{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding-top: 20px;
    padding-right: 20px; */
    padding: 20px 20px 0px 0px;
}

.title{
    color: rgb(211, 84, 84);
    font-family: American Typewriter, serif;
    font-size: 25px;
}
.box1 > .title{
    margin-top: 0px;
}

video{
    padding-left: 10px;
    width: 490px;
    height: 300px;
}
.aventure{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #bbc2c02e;
    padding: 0px 20px 0px 20px;
    margin-top: 15px;
}
.imag{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 15px 10px;
    object-fit: cover;
}
.imag >img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.about{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    background-color: #bbc2c02e;
    padding: 25px 20px 10px 20px;
}
.about >img{
    width: 350px;
    height: 250px;
    object-fit: cover;
}
.valeur{
    padding: 0px 20px 0px 20px;
}
p{
    font-size: 20px;
}
@media only screen and (max-width: 768px) {
    body{
        margin: auto ;
        max-width: 768px;
    }
    .history, .about{
        grid-template-columns: 1fr;
        padding: 10px;

    }
    .imag{
        grid-template-columns: 1fr;
        margin: 0px 40px 0px 40px;
    }
   
    .aventure, .valeur{
        padding: 10px;

    }
  
    p{
        width: auto;
    }
    video{
        width: 360px;
    }
}
