body{
    display: flex;
   
}
.navbar{
    width: 100%;
    height: 7rem;
    background-color: #78AE6C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;

}

.menu_drop_down{
    margin-left: 5%;
}

.logo{
    justify-self: center;
}

.right_nav{
    justify-self: end;
    margin-right: 5%;
}